<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>thefax</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.thefax.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/user.fax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingController</display-name>
    <servlet-name>ShoppingController</servlet-name>
    <servlet-class>com.thefax.controller.ShoppingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingController</servlet-name>
    <url-pattern>/shopping.fax</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>jdbc/myds</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <filter>
    <display-name>ShoppingFilter</display-name>
    <filter-name>ShoppingFilter</filter-name>
    <filter-class>com.thefax.filter.ShoppingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ShoppingFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FaxFilter</filter-name>
    <url-pattern>*.fax</url-pattern>
  </filter-mapping>
</web-app>